<div class="login-container">
    <img src="https://th.bing.com/th?q=Pp+Horreur+3D+Avatar&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=1.3&pid=InlineBlock&mkt=fr-FR&cc=FR&setlang=fr&adlt=moderate&t=1&mw=247" alt="Avatar" class="avatar">
    <h1>Login</h1>
    <form action="/login" method="post">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <% if (typeof error !== 'undefined' && error) { %>
        <div class="alert alert-danger"><%= error %></div>
      <% } %>
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    <footer>
      <p>App Version: <%= version %></p>
    </footer>
  </div>
  